{
  "api_token": "",
  "app_id": "",
  "api_version": "9",
  "bot_uid": 8,
  "dev_mode": false,
  "dev_guild": "",
  "prod_guild": "",
  "sheets_api": {
    "scopes": [
      "https://www.googleapis.com/auth/spreadsheets.readonly"
    ],
    "private_key": "SUPER DUPER SECRET PRIVATE KEY DO NOT SHARE THIS WITH ANYONE",
    "client_email": "client.email@service.iam.gserviceaccount.com"
  },
  "mongo_db": {
    "database_url": "",
    "certificate": "PEM-formatted certificate! DO NOT SHARE WITH ANYONE, NOT EVEN THE COOKIE MONSTER!",
    "private_key": "PEM-formatted private key! DO NOT SHARE WITH ANYONE, NOT EVEN THE COOKIE MONSTER!"
  },
  "bot_info": {
    "name": "Example Bot Name",
    "color": "#14c3a2",
    "title_url": "Example Bot Repo Link",
    "thumbnail": "https://example.bot.thumbnail.link",
    "description": "Your amazing description here"
  },
  "verify": {
    "target_sheet": "",
    "email_column": "A",
    "verified_role_name": "Verified"
  },
  "teams": {
    "database_name": "your db name here",
    "max_name_length": 20
  }
}
