{
  "app_id": "",
  "api_token": "",
  "api_version": "9",
  "bot_uid": 8,
  "dev_mode": false,
  "dev_guild": "",
  "prod_guild": "",
  "sheets_api": {
    "scopes": [
      "https://www.googleapis.com/auth/spreadsheets.readonly"
    ],
    "private_key": "",
    "client_email": ""
  },
  "mongo_db": {
    "database_url": "",
    "certificate": "PEM FORMATTED CERTIFICATE",
    "private_key": "PEM FORMATTED PRIVATE KEY"
  },
  "bot_info": {
    "name": "Bot Name",
    "color": "#14c3a2",
    "event_name": "My Event",
    "title_url": "https://awesome.site.link",
    "thumbnail": "https://awesome.site.link/logo",
    "description": "An open-source Discord Bot written in Discord.JS by [Isaac Kilbourne](https://kilbouri.github.io) and published under the MIT license."
  },
  "verify": {
    "registration_url": "https://google.com",
    "target_sheet": "",
    "email_column": "A",
    "verified_role_name": "Verified"
  },
  "teams": {
    "database_name": "wh2022",
    "max_name_length": 20,
    "invite_duration": 5,
    "max_team_size": 4,
    "teams_per_category": 25,
    "category_base_name": "Teams"
  },
  "socials": {
    "twitter": "",
    "facebook": "",
    "linkedIn": "",
    "instagram": ""
  }
}
